---
import 'bootstrap/dist/css/bootstrap.min.css';

import Layout from '@src/layouts/Layout.astro';
import HeadLine from '@src/layouts/HeadLine.astro';
import Footer from '@src/layouts/Footer.astro';

import TitleSection from '@src/components/TitleSection.astro';
import Card from '@src/components/Card.astro';
import CardLarge from '@src/components/CardLarge.astro';
import CardSmall from '@src/components/CardSmall.astro';
---

<Layout
    title="Joan Serra - Freelance"
    description="Desarrollador web Freelance - Full Stack"
>
	<main>
        <div class="container-md">
            <HeadLine />

            <!-- Experience -->
            <TitleSection
                    title="Mi experiencia"
            />

            <!-- Devinet -->
            <div class="experience-block">
                <h3 class="fst-italic fw-bold">Devinet</h3>
                <CardLarge
                        imageWidth=80
                        imageHeight=80
                        dateRange="2022 - 2024"
                        image="/images/experience/devinet.svg"
                        content="Mi enfoque se centra en presentar y ejecutar soluciones que impacten positivamente en los usuarios, siempre trabajando en estrecha colaboración con los clientes para asegurar que sus necesidades y expectativas sean cumplidas a la perfección."
                />
            </div>

            <!-- isWolk -->
            <div class="experience-block">
                <h3 class="fst-italic fw-bold mt-4">isWolk</h3>
                <CardLarge
                        imageWidth=140
                        imageHeight=140
                        dateRange="2021 - 2022"
                        image="/images/experience/iswolk.png"
                        content="Desempeñé un papel crucial ayudando a mantener diversas páginas web, garantizando su óptimo funcionamiento y adaptándolas a las necesidades cambiantes."
                />
            </div>

            <!-- end: Experience -->

            <!-- Projects -->
            <TitleSection
                title="Mis proyectos"
            />

            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
                    <Card
                        title="MÁS Real Estate"
                        image="/images/my-projects/mas-logo.svg"
                        projectLink="https://masrealestate.es/"
                        content="Web dedicada al alquiler, compra e inversión de viviendas de lujo. También cuenta con una interfaz administrativa para gestionar el contenido de la web de manera eficiente y dinámica."
                    />
                </div>

            </div>
            <!-- end: Projects -->

            <!-- Knowledge -->
            <TitleSection
                    title="Conocimientos"
            />

            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                    <CardSmall
                            name="PHP"
                            image="/images/knowledge/php.svg"
                    />
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 d-none d-xxl-block d-xl-block d-lg-block d-md-block">
                    <CardSmall
                            name="CodeIgniter 4"
                            image="/images/knowledge/cedeigniter.svg"
                    />
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 d-block d-xxl-none d-xl-none d-lg-none d-md-none">
                    <CardSmall
                            name="CI 4"
                            image="/images/knowledge/cedeigniter.svg"
                    />
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                    <CardSmall
                            name="Java Script"
                            image="/images/knowledge/js.svg"
                    />
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                    <CardSmall
                            name="CSS"
                            image="/images/knowledge/css.svg"
                    />
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                    <CardSmall
                            name="HTML5"
                            image="/images/knowledge/html5.svg"
                    />
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                    <CardSmall
                            name="SQL"
                            image="/images/knowledge/sql.svg"
                    />
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                    <CardSmall
                            name="Git - GitHub - Bitbucket"
                            image="/images/knowledge/git.svg"
                    />
                </div>
            </div>
            <!-- end: Knowledge -->
        </div>
	</main>

    <Footer />

</Layout>

<style>
    main {
        font-family: 'geist', sans-serif;
        color: var(--txt-principal-color);
        background-color: var(--bg-principal);
    }
    a {
        color: transparent;
    }
    h1 {
        font-size: calc(1.8rem + 1.5vw);
    }

</style>
