---
import "bootstrap/dist/css/bootstrap.min.css";
import Layout from "@src/layouts/Layout.astro";
import HeadLine from "@src/layouts/HeadLine.astro";
import Footer from "@src/layouts/Footer.astro";
import TitleSection from "@src/components/TitleSection.astro";
import Card from "@src/components/Card.astro";
import CardLarge from "@src/components/CardLarge.astro";
import CardSmall from "@src/components/CardSmall.astro";
import { Image } from "astro:assets";
import i18next, { t, changeLanguage } from "i18next";
import { languages } from "../i18n/ui";

changeLanguage("es");
---

<Layout
    title={t("metas.title")}
    description={t("metas.description")}
>
	<main>
        <div class="container-md">
            <div class="d-flex justify-content-end">
                <div class="dropdown">
                    <span id="languageDropdown">
                        <Image
                            src="/images/icons/globe.svg"
                            width="20"
                            height="20"
                            class="me-2"
                            alt="Language"
                        />
                        Language
                    </span>
                    <ul class="dropdown-menu">
                        {
                            Object.keys(languages).map(key => {
                                const active = (key === i18next.language ? "active" : "");

                                return (
                                    <a href=`${languages[key].route}`>
                                        <li class=`${active}`>
                                            {languages[key].label}
                                        </li>
                                    </a>
                                )
                            })
                        }
                    </ul>
                </div>
            </div>

            <HeadLine
                subtitle={t("headLine.subtitle")}
                content={t("headLine.content")}
            />

            <!-- Experience -->
            <TitleSection
                    title={t("index.experience.title")}
            />

            <!-- Devinet -->
            <div class="experience-block">
                <h3 class="fst-italic fw-bold">{t("index.experience.devinet.title")}</h3>
                <CardLarge
                        imageWidth=80
                        imageHeight=80
                        dateRange="2022 - 2024"
                        image="/images/experience/devinet.svg"
                        content={t("index.experience.devinet.content")}
                />
            </div>

            <!-- isWolk -->
            <div class="experience-block">
                <h3 class="fst-italic fw-bold mt-4">{t("index.experience.isWolk.title")}</h3>
                <CardLarge
                        imageWidth=140
                        imageHeight=140
                        dateRange="2021 - 2022"
                        image="/images/experience/iswolk.png"
                        content={t("index.experience.isWolk.content")}
                />
            </div>

            <!-- end: Experience -->

            <!-- Projects -->
            <TitleSection
                title={t("index.projects.title")}
            />

            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 mb-3">
                    <a href="https://masrealestate.es/" target="_blank">
                        <Card
                                title={t("index.projects.MASRealEstate.title")}
                                image="/images/my-projects/mas-logo.svg"
                                projectLink="https://masrealestate.es/"
                                content={t("index.projects.MASRealEstate.content")}
                        />
                    </a>
                </div>
            </div>
            <!-- end: Projects -->

            <!-- Knowledge -->
            <TitleSection
                    title={t("index.knowledge.title")}
            />

            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                    <CardSmall
                            name="PHP"
                            image="/images/knowledge/php.svg"
                    />
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 d-none d-xxl-block d-xl-block d-lg-block d-md-block">
                    <CardSmall
                            name="CodeIgniter 4"
                            image="/images/knowledge/cedeigniter.svg"
                    />
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 d-block d-xxl-none d-xl-none d-lg-none d-md-none">
                    <CardSmall
                            name="CI 4"
                            image="/images/knowledge/cedeigniter.svg"
                    />
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                    <CardSmall
                            name="Java Script"
                            image="/images/knowledge/js.svg"
                    />
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                    <CardSmall
                            name="CSS"
                            image="/images/knowledge/css.svg"
                    />
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                    <CardSmall
                            name="HTML5"
                            image="/images/knowledge/html5.svg"
                    />
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                    <CardSmall
                            name="SQL"
                            image="/images/knowledge/sql.svg"
                    />
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                    <CardSmall
                            name="Git - GitHub - Bitbucket"
                            image="/images/knowledge/git.svg"
                    />
                </div>
            </div>
            <!-- end: Knowledge -->
        </div>
	</main>

    <Footer />

</Layout>

<style>
    main {
        font-family: 'geist', sans-serif;
        color: var(--txt-principal-color);
        background-color: var(--bg-principal);
    }
    a {
        text-decoration: none;
        color: var(--txt-principal-color);
    }
    h1 {
        font-size: calc(1.8rem + 1.5vw);
    }

    #languageDropdown {
        display: flex;
        cursor: pointer;
        align-items: center;
    }

    .dropdown-menu {
        right: 0;
        padding-left: 10px;
        padding-right: 10px;
    }
    .dropdown-menu li {
        padding-left: 5px;
        border-radius: 5px;
    }
    .dropdown-menu .active {
        color: var(--txt-principal-color);
        background-color: var(--primary);
    }
    .dropdown-menu li:hover {
        color: #7a7a7a;
    }
    .dropdown a {
        color: var(--bg-principal);
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const dropdownToggle = document.getElementById("languageDropdown");

        if(dropdownToggle) {
            dropdownToggle.addEventListener('click', function() {
                const dropdownMenu = document.querySelector('.dropdown-menu');
                dropdownMenu.classList.toggle('show');
            });
        }
    });
</script>
