---
import 'bootstrap/dist/css/bootstrap.min.css';

import Layout from '../layouts/Layout.astro';
import Title from '../layouts/Title.astro';

import TitleSection from '../components/TitleSection.astro';
---

<Layout title="Welcome to Astro.">
	<main>
        <div class="container-md">
            <Title />

            <TitleSection
                    title = "Mis proyectos"
            />
        </div>
	</main>
</Layout>

<style>
    main {
        font-family: 'geist', sans-serif;
        color: var(--txt-principal-color);
        background-color: var(--bg-principal);
    }
    a {
        color: transparent;
    }
    h1 {
        font-size: calc(1.8rem + 1.5vw);
    }

</style>
