---
import { Image } from 'astro:assets';

interface Props {
    image: string;
    title: string;
    content: string;
    projectLink: string;
}

const { image, title, content, projectLink } = Astro.props;
---

<div class="my-card">
    <div class="my-card-image m-2 mb-0">
        <Image
                src={image}
                class="img-invert"
                alt="Logo project"
                width="200"
                height="150"
                loading="lazy"
        />
    </div>

    <div class="p-3 pt-0">
        <h3>{title}
            <a href={projectLink} class="ms-3 img-a" target="_blank">
                <Image
                        src="/images/icons/link.svg"
                        class="mb-2"
                        alt="Link project"
                        width="20"
                        height="20"
                />
            </a>
        </h3>

        <p>{content}</p>
    </div>
</div>

<style>
    :root {
        --bg-card: #e8e8e8;
    }
    .my-card {
        color: var(--bg-card);
        height: 100%;
        border-radius: 10px;
        border: 1px solid transparent;
    }
    .my-card:hover {
        border: 1px solid #d3d3d3;
    }
    .my-card-image {
        max-height: 200px;
    }
    .my-card img {
        height: auto;
        max-width: 100%;
    }
    .img-invert {
        filter: invert(1);
    }
</style>

