---
import { Image } from 'astro:assets';
---

<div class="d-flex align-items-center">
    <a href="https://www.linkedin.com/in/joanserrafreixas/" class="icon-push" target="_blank">
        <Image
            src="/images/icons/linkedin.svg"
            alt="Linkedin"
            width="30"
            height="30"
        />
    </a>
    <a href="mailto:info@serrajoan.com" class="ms-2 icon-push" style="margin-top: 1px">
        <Image
                src="/images/icons/mail.svg"
                alt="Linkedin"
                width="27"
                height="27"
        />
    </a>
</div>

<style>
    a img {
        filter: invert(1);
    }
    .icon-container {
        width: 30px;
    }
    .icon-container a {
        width: 100%;
    }
    .icon-push {
        transition: transform 0.3s ease-in-out;
    }
    .icon-push:hover {
        transform: scale(1.1);
    }
</style>