---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/images/logo.jpg" />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
		<meta name="description" content={description}>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
    :root {
        --primary: #D78CD3;
        --complementary: #8CD790;

		--bg-principal: #2f2f2f;
		--txt-principal-color: #FFFFFF;
    }
    @font-face {
        font-family: 'geist';
        src: url('/fonts/GeistMono-Light.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'geist';
        src: url('/fonts/GeistMono-Bold.woff2') format('woff2');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }

	html, body {
		color: var(--txt-principal-color);
		background-color: var(--bg-principal) !important;
		font-family: 'geist', sans-serif;
	}
</style>
