---
import { Image } from 'astro:assets';
import ContactIcons from "../components/ContactIcons.astro";
---

<div class="container-md">
    <div class="row align-items-center">

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-5">
            <h1>Desarrollador Full Stack</h1>
            <p>
                Soy Joan Serra, desarrollador web con un enfoque práctico y eficiente. Mi trabajo se centra en construir sitios web funcionales y bien estructurados.
                Priorizo la claridad y la eficiencia en cada proyecto, asegurando resultados sólidos y profesionales.
            </p>

            <ContactIcons />
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-5">
            <div class="d-flex justify-content-center">
                <Image
                    src = "/images/profile.jpeg"
                    class = "rounded"
                    alt = "Profile image"
                    width = "370"
                    height = "400"
                />
            </div>
        </div>

    </div>
</div>
